%ul.content__right--body--chat
  %li.content__right--body--chat--one
    %h3.username
      = message.user.name
    %p.date
      = message.created_at
    %p.message
      = message.text
    - if message.image.present?
      %p.image
        = image_tag message.image.to_s
