.content
  .content__bar
    .content__bar--side
      .content__bar--side--name takato
      %i.fa.fa-pencil-square-o
      %i.fa.fa-gear
      .content__bar--side--left
        %ul.content__bar--side--left--chat
          %li.content__bar--side--left--chat--one
            - @group.each do |group|
              %p.user-group
                = group.name
          %li.content__bar--side--left--chat--one
            %p.user-group フットサル部
            %p.group-members iwasaki
  .content__right
    .content__right--header
      .content__right--header--edit
        .content__right--header--edit--form Edit
      .content__right--header--name takatoグループ
      .content__right--header--user Members: yasui
    .content__right--body
      %ul.content__right--body--chat
        %li.content__right--body--chat--one
          %h3.username tabata
          %p.date 2017/3/16
          %p.time 04:53:06
          %p.message chat-spaceまだ？
        %li.content__right--body--chat--one
          %h3.group-name フットサル
          %p.date 2017/3/17
          %p.time 05:00:00
          %p.message 楽しい
    .content__right--bottom
      %input(name="text" type="text"placeholder="type a message")
        %i.fa.fa-photo
      .content__right--bottom--form
        %p Send
