.content
  .content__bar
    .content__bar--side
      .content__bar--side--name takato
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path do
        %i.fa.fa-gear
      .content__bar--side--left
        %ul.content__bar--side--left--chat
          %li.content__bar--side--left--chat--one
            %p.group-name
              = render partial:'common/group', collection: @groups
            %p.group-members
          %li.content__bar--side--left--chat--one
            %p.user-group
            %p.group-members
