.content
  .content__bar
    .content__bar--side
      .content__bar--side--name takato
      %i.fa.fa-pencil-square-o
      %i.fa.fa-gear
      .content__bar--side--left
        .content__bar--side--left--user iwasaki
        .content__bar--side--left--index yasui
  .content__right
    .content__right--header
      .content__right--header--edit
        .content__right--header--edit--form Edit
      .content__right--header--name takatoグループ
      .content__right--header--user iwasaki yasui
    .content__right--body
      .content__right--body--name tabata
      .content__right--body--date 2017/3/16
      .content__right--body--message こんにちは
      .content__right--body--index フットサル
    .content__right--bottom
      .content__right--bottom--center
        %i.fa.fa-photo
      .content__right--bottom--form
        .content__right--bottom--form--type
        .content__right--bottom--form--send Send
