.content
  .content__bar
    .content__bar--side
      .content__bar--side--name takato
      %i.fa.fa-pencil-square-o
      %i.fa.fa-gear
      .content__bar--side--left
        .content__bar--side--left--group
          %ul
            %li iwasaki
        .content__bar--side--left--index yasui
  .content__right
    .content__right--header
      .content__right--header--edit
        .content__right--header--edit--form Edit
      .content__right--header--name takatoグループ
      .content__right--header--user iwasaki yasui
    .content__right--body.clearfix 
      %ul
        %li.content__right--body--name tabata
        %li.content__right--body--date 2017/3/16
        %li.content__right--body--time 04:53:06
        %li.content__right--body--message chat-spaceまだ？
        %li.content__right--body--index フットサル
        %li.content__right--body--dating 2017/3/17
        %li.content__right--body--hour 05:00:00
    .content__right--bottom
      .content__right--bottom--center
        %input(name="text" type="text"placeholder="type a message")
        %i.fa.fa-photo
      .content__right--bottom--form
        .content__right--bottom--form--type
        .content__right--bottom--form--send Send
