
.content{
  &__bar{
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
    float: left;
    overflow: scroll;

    &--side {
      position: relative;
      background-color: #253141;
      width : 300px;
      height:100px;

      &--name {
        color: $white;
        padding-top: 35px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
      }

        &--left {
        padding-top: 25px;

          &--chat {

            &--one {
            color: $white;
            font-size: 14px;

              .user-group {
                padding-top: 10px;
              }

              .group-members {
                font-size: 11px;
              }
            }
          }
        }
    }
  }
  &__right{
    height: 100vh;
    width: calc(100% - 300px);
    float: left;

    &--header{
      background-color: $white;
      padding: 35px 0px 0px 40px;
      height: 65px;

      &--edit{
        position: absolute;
        background-color: white;
        width: 60px;
        height: 40px;
        right: 40px;
        border-style: solid; border-width: 1em;
        border-color: #38aef0;
        border-width: 2px;

        &--form{
          color: #38aef0;
          font-size: 14px;
          text-align: center;
          padding: 10px;
        }
      }

      &--name{
        font-size: 20px;
      }

      &--user{
        font-size: 12px;
        color: #999;
        line-height: 20px;
      }
    }
    &--body{
        background-color: #fafafa;
        width: 100%;
        height: calc(100% - 190px);
        overflow: scroll;

        &--chat{

          &--one{
            padding-top: 40px;
            padding-left: 40px;

            .username{
              float: left;
              font-weight: bold;
            }

            .date {
              padding-top: 3px;
              padding-left: 10px;
              color: $gray;
              float: left;
              font-size: 12px;
            }

            .time{
              float: left;
              padding-top: 3px;
              padding-left: 5px;
              color: $gray;
              float: left;
              font-size: 12px;
            }

            .message{
              clear: both;
              padding-top: 10px;
              font-size: 14px;
              color: #434a54;
            }

            .group-name{
            clear: both;
            font-weight: bold;
            float: left;
            }
          }
        }
    }

    &--bottom{
      height: 45px;
      background-color: #dddddd;
      padding: 20px 25px 25px 35px;
      padding-top: 20px;


      input{
        background-color: white;
        width: calc(100% - 110px);
        height: 50px;
        float: left;
      }

      .form{
        background-color: #38aef0;
        height: 52px;
        width: 70px;
        text-align: center;
        float: left;
        margin-left: 15px;
        color: $white;
        p{
          font-size: 15px;
          line-height: 20px;
          padding-top: 13px;
        }
      }
    }
  }
    .fa.fa-photo{
      position :relative;
      right: 120px;
      float: right;
      top: 20px;
      color: #999;
     }

    .fa.fa-gear{
      position: absolute;
      right: 13px;
      top: 34px;
      line-height: 30px;
      font-size: 20px;
      color: $white;
      float: right;
    }
    .fa.fa-pencil-square-o{
      line-height: 30px;
      font-size: 20px;
      color: $white;
      float: right;
      position: absolute;
      top: 35px;
      left: 245px;
    }
}
