#list {
  @include clearfix();
  padding-top: 15px;
  margin: 0 auto;
  list-style: none;
  border-radius: 5px;
  background-color: #eee;
}

.li :after{
  clear: both;
  display: block;
  content: "";
}


.add-user {
  margin-top: 5px;
}


#add_button {
  float: right;
  color: blue;
}

.remove-user {
  @include clearfix();
  width: 100vh;
  list-style: none;
  background-color: #eee;
}

#remove_button {
  float: right;
}


.chat-group-user {
  padding-top: 15px;
}

