.alert {
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: 200;
  line-height: 30px;
}

.notice {
  height: 30px;
  background-color: #38aef0;
  color: white;
  text-align: center;
  font-weight: 200;
  line-height: 30px;
}
