%ul.content__right--body--chat
  - @messages.each do |message|
    %li.content__right--body--chat--one
      %h3.username
        = message.user.name
      %p.date
        = message.created_at
      %p.message
        = message.text

